body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app {
    width: 290px;
    min-height: 550px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid black;
}
.sex {
    width: 100%;
    min-height: 90px;
    text-align: center;
}
.sex_text {
    font-weight: 100;
    margin: 0;
    padding-top: 5px;
    margin-bottom: 20px;
}
.sex_rad {
    display: none;
}
.sex_btn {
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: transparent;
    font-weight: 800;
    border: 2px solid black;
}
.sex_btn:hover {
    background-color: rgb(243, 207, 129);
    cursor: pointer;
}
#male:checked + label {
    background-color: rgb(243, 207, 129);
}
#female:checked + label {
    background-color: rgb(243, 207, 129);
}
.awh {
    width: 100%;
    min-height: 90px;
    display: flex;
}
.awh_part {
    width: 33.3%;
    text-align: center;
}
.awh_part_text {
    margin-bottom: 0;
}
.awh_part input {
    width: 80%;
}
.physact {
    width: 100%;
    min-height: 200px;
}
.physact_text-box {
    width: 100%;
    text-align: center;
}
.physact_text {
    margin: 0;
    padding-top: 20px;
}
.ph_rad {
    display: none;
}
.ph_meta {
    font-size: 0.7em;
    margin-left: 17px;
}
.ph_btn:before {
    content:'';
    display: inline-block;
	width: 17px;
	height: 18px;
    position: relative;
    bottom: -4px;
    margin-left: 3px;
    margin-right: 3px;
	background: url(./radio-1.png) 0 0 no-repeat;
}
.ph_rad:checked + .ph_btn:before {
    background: url(./radio-2.png) 0 0 no-repeat;
}
.ph_btn:hover:before {
    cursor: pointer;
}
.calculate  {
    width: 40%;
    height: 30px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
    border: 1px solid black;
    background-color: rgb(243, 207, 129);
}
.calculate:hover {
    cursor: pointer;
    background-color: transparent;
}
.calculate:disabled {
    background-color: transparent;
    cursor: default;
    border: none;
}
.answer {
    margin-top: 20px;
    width: 100%;
    min-height: 100px;
    display: flex;
}
.answer_part {
    width: 33%;
    min-height: 100px;
    margin: auto;
    text-align: center;
}
.text_answer {
    font-size: 0.7em;
}