body {
    font-family: arial;
}
.center {
    text-align: center;
}
div#app {
    margin: auto;
    width: 400px;
    height: 600px;
    border-radius: 15px;
    border: 1px solid black;
}
div#app input.sex {
    display: none;
    width: 190px;
}
div#app label.sex_label {
    display: inline-block;
    text-align: center;
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 45%;
    height: 40px;
    font-size: 25px;
    line-height: 40px;
    margin-left: 10px;
}
div#app label.sex_label:hover {
    color: white;
    background-color: orange;
}
div#app input.sex:checked + label.sex_label {
    color: white;
    background-color: orange;
}
div#app h1.character {
    display: inline-block;
    margin-right: 30px;
    margin-left: 10px;
    margin-bottom: 0px;
}

div#app input.charac_num {
    width: 20%;
    margin-right: 10px;
    margin-left: 25px;
    margin-top: 0px;
}
div#app span.mini {
    font-size: 12px;
    margin-left: 40px;
    color: #7d7d7d;
}
div#app input.active {
    margin-left: 20px;
}
div#app input.active:checked + span.max {
    color: orange;
}
div#app button.calc {
    margin-top: 40px;
    margin-left: 50px;
    width: 130px;
    height: 40px;
    border: black;
    color: white;
    background-color: orange;
}
div#app button.calc:hover {
    background-color: rgb(209, 136, 0);
}
div#app button#clear {
    margin-top: 40px;
    margin-left: 40px;
    width: 130px;
    height: 40px;
    border: none;
    color: black;
    background-color: transparent;
}
div#app button#clear:hover {
    background-color: gray;
}
div#app button#clear:disabled {
    background-color: transparent;
    color: gray;
}
div#button {
    display: flex;
}
div#results {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    border-radius: 15px;
    margin: auto;
    text-align: center;
    display: flex;
}
div#results div.text {
    width: 33%;
    text-align: center;
    font-size: 10px;
}
span.kal {
    font-size: 10px;
}
@media screen and (max-width: 420px) {
    div#app {
        margin: auto;
        width: 100%;
        height: 100%;
    }
    .character {
        font-size: 1.5em;
        margin: 0px;
        margin-top: 20px;
        width: 20%;
    }
    div#app button.calc {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    div#app button#clear {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}